.about-history {
    color: #d7d7d7;
    font-size: 1.5rem;
}

.about-history .intro p {
    margin: 50px 0;
}

.about-history .intro h3 {
    color: #ef9350;
    font-size: 1.7rem;
    margin: 20px 0;
}

.about-history .cover-pic {
    background-size: cover;
    width: 480px;
    height: 670px;
    -webkit-clip-path: polygon(30% 0,100% 0%,70% 100%,0 100%);
    clip-path: polygon(30% 0,100% 0%,70% 100%,0 100%);
    margin-left: 20px;
    margin-top: 60px;
}
